<div class="row">
  <div class="col-md-12 mb-3">
    <a href="/registro/add" class="btn btn-success float-right">Agregar otro
      estudiante</a>
  </div>
  {{#each estudiantesIUTV}}
  {{#with this}}
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">
          {{nombre}}
        </h3>
        <p class="card-text">Cédula: {{cedula}}</p>
        <p class="card-text">Email: {{email}}</p>
        <p class="card-text">Forma de pago: {{pago}}</p>
        <p class="card-text">Tipo de estudiante: {{tipoEstudiante}}</p>
        <p class="card-text">Periodo: {{periodo}}</p>
        <p class="card-text">¿Tiene deuda antigua?: {{deuda}}</p>
        {{#if deuda}}
          {{#if montoDeuda}}
            <p class="card-text">Monto de la deuda antigua: {{montoDeuda}}</p>
          {{/if}}
        {{/if}}
        <div class="d-flex justify-content-between">
          <a href="/registro/edit/{{_id}}" class="btn btn-primary">Editar
            <i class="fas fa-edit"></i></a>
          <form action="/registro/delete/{{_id}}?_method=delete" method="post">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" class="btn btn-danger">Borrar
              <i class="fas fa-trash"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
  {{else}}
  <div class="col-md-12">
    <div class="alert alert-info text-center" role="alert">
      <h5>No hay estudiantes registrados.</h5>
    </div>
  </div>
  {{/each}}
</div>